<ion-view>
    <ion-content padding="'true'" ng-controller="ColocListCtrl">

        <ion-nav-bar class="bar-stable bar-header bar-calm">
            <ion-nav-buttons>
                <a href="#/home" class="button button-icon button-clear ion-home" ></a>
                <h1 class="title">Agenda</h1>
                <a class="button button-clear icon ion-plus" ng-click="showCard()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>


        <div class="list card" id="startCard" ng-show="showAjoutTache">
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Evenement" ng-model="nom_evt">
                    </label>
            <label class="item item-input">
                <input type="Date" placeholder="Date" ng-model="date">
            </label>
            <label class="item item-input">
                <input type="Time" placeholder="Hour" ng-model="hour">
            </label>
                    <ion-checkbox dark ng-model="task_urgency" ng-model="urgency" style="font-size:15px">Urgent</ion-checkbox >

                </div>
                <div class="button-bar">
                    <a class="button button-bar button-outline button-positive" ng-click="ajouter_tache()">Ajouter tache</a>
                    <a class="button button-bar button-outline button-assertive" ng-click="hideCard()">Annuler</a>
                </div>
            </div>
        </div>
        <div class="spacer" style="height: 40px;"></div>

            <div class="card card-lundi">
                <div class="item item-dark item-divider">Lundi</div>
                <div class="task" ng-repeat="task in lun_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="card card-mardi">
                <div class="item item-dark item-divider" >Mardi</div>
                <div class="task" ng-repeat="task in mar_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="card card-lundi">
                <div class="item item-dark item-divider">Mercredi</div>
                <div class="task" ng-repeat="task in mer_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="card card-mardi">
                <div class="item item-dark item-divider">Jeudi</div>
                <div class="task" ng-repeat="task in jeu_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="card card-lundi">
                <div class="item item-dark item-divider">Vendredi</div>
                <div class="task" ng-repeat="task in ven_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="card card-mardi">
                <div class="item item-dark item-divider">Samedi</div>
                <div class="task" ng-repeat="task in sam_task">
                    <div class="card">
                        <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                        <div>{{task.content}}</div>
                        <div>{{task.date}} {{task.heure}}</div>
                        <div>{{task.urgency}}</div>
                        <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                    </div>
                </div>
            </div>
        <div class="card card-dimanche">
            <div class="item item-dark item-divider">Dimanche</div>
            <div class="task" ng-repeat="task in dim_task">
                <div class="card">
                    <div class="button-delete button-icon ion-close-circled" ng-click="deleteTache(task)"></div>
                    <div>{{task.content}}</div>
                    <div>{{task.date}} {{task.heure}}</div>
                    <div>{{task.urgency}}</div>
                    <ion-checkbox class="check-box" ng-model="task_urgency"></ion-checkbox>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>